/*
    default theme
    author: Hosung Lee
    date: 2020-10-07
*/
.Container {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;

  display: flex;
  flex-direction: column;
  background: #193764;

  font-family: "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #ced4e9;
  -webkit-transition: width 300ms ease-in-out, height 300ms ease-in-out;
  -moz-transition: width 300ms ease-in-out, height 300ms ease-in-out;
  -o-transition: width 300ms ease-in-out, height 300ms ease-in-out;
  transition: width 300ms ease-in-out, height 300ms ease-in-out;
}

.Header {
  width: 100%;
  height: 20%;
  padding: 3%;
  background: #315d90;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.ProgramButtons {
  display: flex;
  flex-direction: row;
}

.Body {
  width: 100%;
  height: 70%;
  background: #315d90;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.HeaderReduced {
  width: 100%;
  height: 150px;
  background: #315d90;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
  -webkit-transition: width 300ms ease-in-out, height 300ms ease-in-out;
  -moz-transition: width 300ms ease-in-out, height 300ms ease-in-out;
  -o-transition: width 300ms ease-in-out, height 300ms ease-in-out;
  transition: width 300ms ease-in-out, height 300ms ease-in-out;
}

.Title {
  display: flex;
  flex-direction: row;
  align-items: top;
}

.TitleContent {
  display: flex;
  flex-direction: column;
}
.TitleText {
  font-size: 48px;
  margin: 0;
  font-style: normal;
  font-weight: normal;
  color: #d3e1ed;
}

.SubtitleText {
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  color: #d3e1ed;
  margin: 15px;
}

.Description {
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  color: #d3e1ed;
  line-height: 10px;
}

.Content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: #193764;
}

.UploadForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input#file {
  display: none;
}

.Message {
  font-size: 20px;
}

.UploadButton {
  width: 200px;
  height: 60px;
  border-radius: 35px;
  font-size: 20px;
  color: #d3e1ed;
  background: #193764;
  border: none;
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  padding-bottom: 10px;
}

.Option {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Option p {
  margin-left: 10px;
  font-size: 14px;
}

.Footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 10%;
}

.GithubLink {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.GithubLink p a {
  text-decoration: none;
  color: #ced4e9;
}

.UploadButton {
  position: relative;
  overflow: hidden;
  float: left;
  clear: left;
}

.UploadButton input[type="file"] {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  font-size: 100px;
  filter: alpha(opacity=0);
  cursor: pointer;
}

.Button {
  background-color: #315d90;
  padding: 5px 10px 5px 10px;
  border: none;
  border-radius: 10px;
  color: white;
}

.btn {
  padding: 0px 5px 0px 5px;
  margin: 0 5px 0 5px;
  border-radius: 10px;
  height: 30px;
}

.RSAButton {
  margin: 0px 0px 10px 0px;
}
