img {
    width: 100%;
    height: 100%;
}
.ResultContent {
    width: 40%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.ResultText {
    font-size: 28px;
    margin: 0 0 20px 0;
    font-style: normal;
    font-weight: normal;
    color: #D3E1ED;
}

.ImageFrame {
    border: 5px solid #CED4E9;
    width: 100%;
    box-sizing: border-box;
}

.BackButton {
    margin: 20px 0 0 0;
}